h1 {
  font-size: 1.75rem; }

h2 {
  margin-top: 1rem;
  font-size: 1.25rem; }

h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.0rem; }

h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem; }
  
body {
  font-size: 0.75rem;
}

.section-subheading {
  font-size: 0.9rem;
}

ul.ul-interests li {
  font-size: 0.75rem;
}

ul.ul-edu li .description p.course{
  font-size: 0.75rem;
}