
  
.home-section {
  padding: 20px 0 20px 0;
}

.media.stream-item:not(:last-child) {
  margin-bottom: 0.5rem; 
}

.nav-item {
  font-size: 1.05rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.pub-list-item {
  line-height: 1.4;
}

.pub-year-break {
  font-weight: bold;
}